/**
*
* THEME SPECIFIC COMPONENTS
*
*/

.category__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 3.5rem;

    a {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 0 1rem;
        align-items: center;
        padding: .5rem;
        background-color: $color-white;
        border-radius: .5rem;

        .count {
            color: $color-primary;
        }

        &[aria-current='page'] {
            background-color: plum;
        }

    }
    
    // .active {
    //     background-color: plum;
    // }

    
}

.blogpost {
    padding: 1rem;

    opacity: 0;
    transition: all .3s ease;
    transform: translate(0, -20px);
    animation: fade-in 1s ease forwards;

    &:hover {
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .5);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(0, 20px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}